body{
    background-color: rgba(20, 80, 57, 0.877);
}

h1{
    color: peru
}

.friend {
    background-color: rgb(116, 48, 61);
    color: ghostwhite;
    display: inline-block;
    padding: 1em 11.5em 1em 1em;
}

.friend > h3 {
    text-transform: uppercase;
}

#sing-button {
    padding: 1em;
    background-color: rgb(47, 47, 141);
    color: white;
}